@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0%;
}
.nav{
    font-family: 'Urbanist', sans-serif;
    background: #FFFFFA;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    
}
.nav-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 120px;
}
.links{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
    font-weight: 400;
    font-size: 24px;
    color:#021718;
    text-decoration: none;
}
.links>li{
    margin-left: 1em;
    text-decoration: none;
    color:#021718;

}
.logo{
    margin-left: 120px;
    font-family: 'Urbanist';
font-style: normal;
font-weight: 800;
font-size: 64px;



color: #021718;
}