@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav{
    font-family: 'Urbanist', sans-serif;
    background: #FFFFFA;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    text-align: centre;
    margin:0px;
    padding:0px;
    height:8vh;
    
    
    
}

.nav-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding:0px;
    width: 100%;
    height: 8vh;
    
    
    

}
.logo{
    padding-left: 100px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;

    color: #021718;
    cursor: pointer;
    width:35%;
    
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    
    
    font-weight: 400;
    font-size: 24px;
    color:#021718;
    text-decoration: none;
    /* margin-left:899px; */
    width: 65%;
    padding-right:100px;

    
}
.links>li>a{
   
    margin-left: 4em;
    text-decoration: none;
    color:#021718;
    cursor: pointer;


}
