@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* h1{
    margin-top: 100px;
    text-align: center;
} */
.web-container{
    align-items: center;
    width:90%;
    font-family: 'Urbanist', sans-serif;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    /* grid-row-start: 1;
    grid-row-end: 3; */
    gap:50px;
    background-color: #fff;
    text-align: center;
    color:#021718;
    margin-bottom: 20px;
    /* padding-left: 20px; */
    margin:auto;
    margin-top: 30px;
    



}
.web-card{
    width: 100%;

    margin:auto;
    background-color: #fff;
    box-shadow: #01847F 0px 3px 8px;
    border-radius: 5px;
    text-align: center;
    

}
.web-card>img{
    width:100%;
    height:auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.web-card>button{
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color:#01847F;
    color: #fff;
    font-size: 20px;
    letter-spacing:3px;
    border-radius: 5px;
    border: none;

}


.web-card>button>a{
    color:#fff;
    text-decoration: none;
}

.card-img{
    transition:all 0.3s ease-in-out;
}
.web-card:hover .card-img,
.web-card:focus .card-img {
  transform: scale(1.02);
  opacity:0.9;
}